.content__wrapper {
    min-height: 100vh;
}

.departement {
    &__wrapper {
        &:nth-child(4n-4) {
            .departement__icon div{
                background-color: $blue-color;
            }
        }
        &:nth-child(4n-5) {
            .departement__icon div{
                background-color: $purple-color;
            }
        }
        &:nth-child(4n-6) {
            .departement__icon div{
                background-color: $cyan-color;
            }
        }
        &:nth-child(4n-7) {
            .departement__icon div{
                background-color: $yellow-color;
            }
        }
    }
    &__icon {
        div {
            width: 4.2rem;
            height: 4.2rem;
            border-radius: 5px;
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &__content {
        .content {
            &__image {
                .image {
                    &__list {
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        background-color: #ebebea;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }
}

.trigger {
    &__title {
        span {
            transition: all linear 0.25s;
            transform: rotate(0deg);
        }
        &.collapsed {
            span {
                transform: rotate(540deg);
            }
        }
    }
}

.button {
    border: none;
    &.button--rounded {
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
    }
    &.button--red {
        background: $red-color;
        border: 1px solid $red-color !important;
    }
    &.button--green {
        background: $green-color;
        border: 1px solid $green-color !important;
    }
    &.button--yellow {
        background: $yellow-color;
        border: 1px solid $yellow-color !important;
    }
    &.button--blue {
        background: $blue-color;
        border: 1px solid $blue-color !important;
    }
    &.button--black {
        background-color: $black-color;
        border: 1px solid $black-color !important;
    }
    &.button--white {
        background-color: $white-color;
        border: 1px solid $black-color !important;
    }
}

.select-priority {
    text-align: center;
    text-align-last: center;
    padding-left: 1rem;
    min-height: 22px;
}

.notification {
    width: 10px;
    height: 10px;
    background: $yellow-color;
    display: block;
    position: absolute;
    top: 0;
    left: 60%;
    transform: translateX(-50%);
    border-radius: 50%;
}