body {
    overflow-x: hidden;
}
a, button, a:active, a:focus {
    outline: none !important;
}
input:required, input:invalid{
    box-shadow:none;
}
textarea:hover, input[type=text]:hover, input[type=email]:hover, input[type=number]:hover, textarea:active, input[type=text]:active, input[type=email]:active, input[type=number]:active, textarea:focus, input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, button:focus, button:active,button:hover, label:focus, .btn:active, .btn.active, select:active, select:hover, select:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}