.text__roboto-30 {
    font-size: 30px !important;
    font-family: 'Roboto', sans-serif;
}

.text__roboto-22 {
    font-size: 22px !important;
    font-family: 'Roboto', sans-serif;
}

.text__roboto-20 {
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif;
}

.text__roboto-18 {
    font-size: 18px !important;
    font-family: 'Roboto', sans-serif;
}

.text__roboto-17 {
    font-size: 17px !important;
    font-family: 'Roboto', sans-serif;
}

.text__roboto-15 {
    font-size: 15px !important;
    font-family: 'Roboto', sans-serif;
}

.text__roboto-14 {
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif;
}

.text__roboto-12 {
    font-size: 12px !important;
    font-family: 'Roboto', sans-serif;
}

.text-yellow{color:$yellow-color !important;}
.text-blue{color:$blue-color !important;}
.text-grey{color:$grey-color !important;}
.text-grey-light{color:$grey-light-color !important;}
.text-grey-thin{color:$grey-thin-color !important;}
.text-grey-thins{color:$grey-thins-color !important;}
