.departement {
    &__content {
        .content {
            &__image {
                .image {
                    &__list {
                        &.image--small {
                            width: 20px !important;
                            height: 20px !important;
                        }
                        &.image--large {
                            width: 45px !important;
                            height: 45px !important;
                        }
                        &.image--add {
                            background-color: $yellow-color;
                        }
                    }
                }
            }
        }
    }
}