$white-color : #fff;
$black-color : #000;
$red-color : #ff2f2f;
$green-color : #46b700;
$yellow-color : #fbab12;
$blue-color : #346ef0;
$purple-color : #e934f0;
$cyan-color : #00bbd3;
$grey-color : #2b2b2b;
$grey-light-color : #5a5a5a;
$grey-thin-color : #707070;
$grey-thins-color : #979797;