.collaboration__content {
    min-width: 100vw;
    margin-left: 5%;
}

@media (min-width: 768px) {
    .collaboration__content {
        width: 100%;
        min-width: 0;
    }
}

@media (max-width: 768px) {
    .collaboration__content {
        margin: 0 !important;
    }
}