.sidebar__menu {
    -webkit-box-shadow: 5px 0px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 0px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 5px 0px 9px -1px rgba(0,0,0,0.75);
    max-width: 5%;
}

#sidebar-wrapper {
    min-height: 100vh;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    display: flex;
    flex-direction: column;
    .logo-group {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }
    .list-group {
        flex-grow: 3;
    }
    .profile-group {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 3;
    }
}

#logo {
    width: 34.5px;
    height: 36.1px;
    background-image: linear-gradient(136deg, #fa9f13 -14%, #fec203 144%);
}

@media (max-width: 768px) {
    .sidebar__menu {
        left: -10%;
    }
}