.table{
    &__wrapper {
        border: 0 !important;
        thead {
            tr {
                th{
                    font-size: 15px;
                    color: $grey-thins-color;
                    border-right: 1px solid #dee2e6;
                    // &:nth-child(n+5) {
                    //     border-right: none;
                    // }
                    &:first-child{
                        border-left: 0 !important;
                    }
                    &:last-child{
                        border-right: 0 !important;
                    }
                }
            }
        }
        tbody {
            tr {
                &:last-child {
                    border-bottom: 1px solid #dee2e6;
                }
                td {
                    font-size: 15px;
                    color: $grey-thins-color;
                    // border-right: 1px solid #dee2e6;
                    // &:nth-child(n+5) {
                    //     border-right: none;
                    // }
                    &:first-child{
                        border-left: 0 !important;
                    }
                    &:last-child{
                        border-right: 0 !important;
                    }
                }
            }
        }
    }
}